.rank {
    text-align: right;
}

body { padding-top: 70px; }

.bg-rebel {
    background-color: #2e4053;
}

.bg-empire {
    background-color: #293b4e;
}

.text-rebel {
    color: gold;
}

.text-empire {
    color: #d9534f;
}

.text-WIN {
    color: #4cae4c;
}

.text-LOSS {
    color: #dd1144;
}
