.rank {
    text-align: right;
}

body { padding-top: 70px; }

.bg-rebel {
    background-color: #2e4053;
}

.bg-empire {
    background-color: #293b4e;
}

.text-rebel {
    color: gold;
}

.text-empire {
    color: #d9534f;
}

.text-WIN {
    color: #4cae4c;
}

.text-LOSS {
    color: #dd1144;
}

.footer {
    background-color: #2a323a;
}

ul.nav > li > a {
    padding: 3px 15px;
}

.bootstrap-select>button.dropdown-toggle {
    padding-left: 4px;
    padding-right: 16px;
}

.bootstrap-select.btn-group .dropdown-toggle span.caret {
    right: auto;
}
